@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: "BalooBhaijaan";
  src: local("BalooBhaijaan"),
    url("/fonts/BalooBhaijaan-Regular.ttf") format("truetype");
  font-weight: normal;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  }

@font-face {
  font-family: "Baloo";
  src: local("Baloo"),
    url("/fonts/Baloo2-VariableFont_wght.ttf") format("truetype");
  font-weight: inherit;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "OverpassMono";
  src: local("OverpassMono"),
    url("/fonts/OverpassMono-VariableFont_wght.ttf") format("truetype");
    font-weight: inherit;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@layer base {
    body {
      font-family: BalooBhaijaan,
      Noto Sans,
      sans-serif !important;
    }
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 400;
        font-style: normal;  } }
    
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 500;
        font-style: normal;  } }
    
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 600;
        font-style: normal;  } }
    }
    
    html {
      background-color: black;
      height: 100%;
      font-size: 12;
    }
    
    body {
      height: 100%;
      overflow: auto;
      word-break: keep-all;
      
    }

    .scrollbar-off::-webkit-scrollbar {
      display: none;
    }
    @keyframes float {
      0% {
        transform: translatey(0px);
      }
    
      50% {
        transform: translatey(-20px);
      }
    
      100% {
        transform: translatey(0px);
      }
    }
.rainbow-text {
  letter-spacing: 0px;
  text-shadow:
    3px 3px 12px rgba(255, 255, 255, .4),
    2px 2px 2px rgba(255, 255, 255, .5);
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}