@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: "MOONGET";
  src: local("MOONGET"),
    url("/fonts/MOONGET.ttf") format("truetype");
  font-weight: normal;
  unicode-range:U+0041-005A,
  U+0061-007A,
  U+0030-0039;
  }

@font-face {
  font-family: "BalooBhaijaan";
  src: local("BalooBhaijaan"),
    url("/fonts/BalooBhaijaan-Regular.ttf") format("truetype");
  font-weight: normal;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  }

@font-face {
  font-family: "Baloo";
  src: local("Baloo"),
    url("/fonts/Baloo2-VariableFont_wght.ttf") format("truetype");
  font-weight: inherit;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "OverpassMono";
  src: local("OverpassMono"),
    url("/fonts/OverpassMono-VariableFont_wght.ttf") format("truetype");
    font-weight: inherit;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
  
  @font-face {
    font-family: "Uni Sans";
    src: local("Uni Sans"),
      url("/fonts/Uni Sans Thin.otf") format("opentype");
    font-weight: 200;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  }
  
  @font-face {
    font-family: "Uni Sans";
    src: local("Uni Sans"),
      url("/fonts/UniSans/Uni Sans Light.otf") format("opentype");
    font-weight: 300;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  }
  
  @font-face {
    font-family: "Uni Sans";
    src: local("Uni Sans"),
      url("/fonts/UniSans/Uni Sans Regular.otf") format("opentype");
    font-weight: 400;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  }
  
  @font-face {
    font-family: "Uni Sans";
    src: local("Uni Sans"),
      url("/fonts/UniSans/Uni Sans SemiBold.otf") format("opentype");
    font-weight: 500;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  }
  
  @font-face {
    font-family: "Uni Sans";
    src: local("Uni Sans"),
      url("/fonts/UniSans/Uni Sans Bold.otf") format("opentype");
    font-weight: 600;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  }
  
  @font-face {
    font-family: "Uni Sans";
    src: local("Uni Sans"),
      url("/fonts/UniSans/Uni Sans Heavy.otf") format("opentype");
    font-weight: 700;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  }

@layer base {
    body {
      font-family: BalooBhaijaan,
      Noto Sans,
      sans-serif !important;
    }
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 400;
        font-style: normal;  } }
    
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 500;
        font-style: normal;  } }
    
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 600;
        font-style: normal;  } }
    }
    
    html {
      background-color: black;
      height: 100%;
      font-size: 12;
    }
    
    body {
      height: 100%;
      overflow: auto;
      word-break: keep-all;
      
    }

    .scrollbar-off::-webkit-scrollbar {
      display: none;
    }
    @keyframes float {
      0% {
        transform: translatey(0px);
      }
    
      50% {
        transform: translatey(-20px);
      }
    
      100% {
        transform: translatey(0px);
      }
    }