@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "MOONGET";
  src: local("MOONGET"),
    url("/fonts/MOONGET.ttf") format("truetype");
  font-weight: normal;
}
@layer base {
    body {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    }
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 400;
        font-style: normal;  } }
    
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 500;
        font-style: normal;  } }
    
    @font-face {
      * {
        font-family: 'Noto Sans';
        font-weight: 600;
        font-style: normal;  } }
    
    
    }